.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 0 $padding-def-value;
}

.breadcrumb-menu {
  color: $gray-color;
  align-self: flex-start;
  margin: $margin-def-value 0 20px 0;
}

.breadcrumb-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.breadcrumb-menu ul li {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
}

.breadcrumb-menu ul li:last-child {
  font-weight: bold;
}

.breadcrumb-menu ul li:not(:last-child)::after {
  content: "/";
  margin: 0 5px 0 5px;
  color: $gray-color;
}

.breadcrumb-menu ul li a {
  text-decoration: underline;
  color: $gray-color;
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 200px;
  margin-right: $margin-def-value;
  position: relative;
}

.content-left ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

.category-item ul {
  list-style-type: disc;
}

.category-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.category-item {
  padding: 5px;
}

.subcategory-dropdown {
  display: none;
}

.category-item a,
.subcategory-dropdown a {
  text-decoration: none;
  color: $gray-color;
  font-weight: 400;
  position: relative;
}

.category-item a::after,
.subcategory-dropdown a::after {
  content: "";
  position: absolute;
  width: $width-hundred;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.category-item a:hover::after,
.subcategory-dropdown a:hover::after {
  background-color: $gray-color;
}

.image-left-content {
  position: relative;
  overflow: hidden;
  margin: 155px 0 0 40px;
}

.image-left-content img {
  display: block;
  padding-bottom: 3px;
  margin-right: 10px;
}

.price-list-lable h1 {
  font-size: 26px;
  margin: $margin-def-value 0 0 15px;
  color: $gray-color;
}

.content-page-number ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
  font-weight: 300;
}

.content-page-number li:not(:last-child) {
  margin-right: $margin-def-value;
}

.content-page-number a {
  text-decoration: none;
  color: $gray-color;
  cursor: pointer;
}

.content-page-number li.page-number-active,
.content-page-number li.pagination-active {
  font-weight: 700;
}

.content-goods {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: 800px;
}

.content-container {
  display: flex;
  justify-content: center;
  padding: 0 $padding-def-value;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 360px;
  margin: 5px;
  background-color: $light-gray-color;
}

.product a {
  text-decoration: none;
  color: $gray-color;
  font-weight: 300;
}

.goods-item-image {
  width: 210px;
  height: 210px;
  padding: 20px;
}

.product p {
  display: flex;
  align-items: flex-start;
  width: 210px;
  margin-bottom: 20px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
}

.product-price h1 {
  font-size: 22px;
}

.product-price img {
  height: 25px;
  width: 25px;
}

.content-separate-line {
  color: $gray-color;
  margin: 6% 0 $margin-def-value 0;
}

.content-bottom-text {
  display: flex;
  margin: 20px 0 200px 0;
}

.content-bottom-text p {
  width: 50%;
  color: $gray-color;
}