header {
  background-color: $light-gray-color;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.logo-name {
  margin-left: $margin-def-value;
}

.company-name {
  color: $gray-color;
  font-size: 30px;
  margin-bottom: $margin-def-value;
}

.header-contact-block-phone a {
  line-height: 1.5;
  display: inline-block;
  transform: scaleY(1.4);
  transform-origin: center left;
  letter-spacing: 1.8px;
  font-weight: 300;
  font-size: 24px;
  text-decoration: none;
  color: $gray-color;
}

.contact-info ul {
  list-style-type: none;
  letter-spacing: 1px;
  font-weight: 400;
  padding: $zero-value;
}

.header-logo-block {
  display: flex;
  align-items: center;
  width: 275px;
}

.header-inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $width-max;
}

.brand-logo {
  width: 270px;
  display: flex;
  align-items: center;
}

.brand-logo span {
  font-size: 27px;
  font-weight: bold;
  line-height: $height-line;
  color: $gray-color;
  line-height: normal;
  white-space: pre-line;
}

.brand-logo img {
  margin-right: $margin-def-value;
  width: 100px;
  height: 100px;
}

.brand-logo small {
  display: block;
  font-size: $base-font-size;
  color: $gray-color;
}

.contact-info {
  text-align: right;
  position: relative;
  top: -20px;
}

.contact-info p {
  margin: $zero-value-px;
  font-size: 18px;
  line-height: $height-line;
  color: $gray-color;
}

.feedback-link {
  font-size: 17px;
  line-height: $height-line;
  text-decoration: underline dotted 2px;
  color: $gray-color;
  font-weight: bold;
}
