.navigation-bar {
  background-color: $gray-color;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.navigation-menu {
  width: 1000px;
}

.navigation-items {
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  transition: all 0.3s ease;
}

.navigation-items li {
  border-right: 1px solid $white-color;
}

.navigation-items li:last-child {
  border: none;
}

.navigation-items a {
  text-decoration: none;
  color: $white-color;
  font-size: 20px;
  padding: $zero-value-px $padding-def-value;
}