.slider-wrapper {
  position: relative;
  margin: 0px;
  padding: 0px;
  height: $height-slider;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: $width-hundred;
  height: $height-slider;
  background-size: cover;
  background-position: center;
}

.slide.active {
  opacity: 1;
  position: relative;
}

.slide img {
  width: $width-hundred;
  height: $height-hundred;
  object-fit: contain;
}

.slider-buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 43.5%;
  left: 25%;
  right: 25%;
}

.slider-button-prev,
.slider-button-next {
  background: transparent;
  color: rgb(0, 0, 0);
  background-color: rgb(209, 209, 209, 0.7);
  font-size: 50px;
  height: 50px;
  width: 35px;
  padding-bottom: $padding-def-value;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}