// Colors
$header-bg-color: #dcdcdc;
$gray-color: #767676;
$light-gray-color: #dcdcdc;
$white-color: #ffffff;
$slider-btn-color: rgb(209, 209, 209, 0.7);
$feedback-form-color: #535353;

// Width, hight variable
$height-line: 22px;
$height-hundred: 100%;
$height-hundred-px: 100px;
$height-slider: 400px;

$width-max: 980px;
$width-hundred: 100%;

// Position variable
$padding-def-value: 10px;
$margin-def-value: 10px;

// Fonts
$base-font-size: 14px;