@media screen and (max-width: 1000px) {
  /* Header */
  .header-inner-content {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .breadcrumb-menu {
    position: relative;
    left: -19%;
    margin-left: 0;
    align-self: center;
  }

  .contact-info {
    width: auto;
  }

  /* Content bottom text */
  .content-bottom-text {
    margin: 2% $zero-value;
    display: flex;
    justify-content: space-between;
  }

  .content-bottom-text p {
    margin-left: $margin-content-bottom-text;
    margin-right: $margin-content-bottom-text;
    width: $width-bottom-text;
  }

  .content-separate-line {
    width: $width-content-line;
  }

  /* Main content container */
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $width-content-right;
  }

  .content-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: $width-content-left-adaptive;
  }

  /* Slider */
  .slider-wrapper {
    height: $height-slider-adaptive;
    width: auto;
  }

  .slide img {
    width: $width-hundred;
    height: $height-slider-adaptive;
    object-fit: contain;
  }

  .navigation-items ul {
    width: auto;
  }

  /* Main content */
  .main-content {
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-left-content {
    margin-top: 4%;
  }

  .category-menu {
    width: 300px;
  }
}

@media (max-width: 830px) {
  /* Content left */
  .content-left {
    justify-content: center;
    width: $width-content-left-adaptive-830px;
  }

  /* Slider buttons */
  .slider-buttons {
    display: none;
  }

  .breadcrumb-menu {
    left: -15%;
  }

  /* Navigation menu */
  .navigation-menu {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navigation-items {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation-items li {
    border: none;
    width: $width-hundred;
  }

  .navigation-items a {
    padding: $padding-def-value;
    width: $width-hundred;
    text-align: left;
  }

  /* Content goods */
  .content-goods {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: $width-content-goods-adaptive-830px;
  }

  .slider-wrapper,
  .slide img {
    height: $height-slider-adaptive-830px;
  }

  .content-container {
    padding: $zero-value;
  }

  .content-separate-line {
    width: 500px;
  }

  .content-bottom-text {
    flex-direction: column;
    align-items: center;
  }

  .content-bottom-text p {
    width: 480px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 650px) {
  /* Header */
  .header-inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-left {
    width: auto;
  }

  /* Content goods */
  .content-goods {
    width: $width-content-goods-adaptive-650px;
  }

  .slider-wrapper,
  .slide img {
    height: $height-slider-adaptive-650px;
  }

  .container {
    padding: $zero-value;
  }

  .content-container {
    $width: 550px;
  }

  .contact-info {
    position: initial;
  }

  .breadcrumb-menu {
    left: -17%;
  }

  .brand-logo {
    margin-bottom: $margin-def-value;
  }
}

@media screen and (max-width: 550px) {
  .breadcrumb-menu {
    margin-top: $margin-def-value;
    position: initial;
  }

  .main-content {
    width: auto;
  }

  .content-left {
    flex-direction: column;
    align-items: center;
  }

  .category-menu-price-list {
    display: none;
  }

  .category-menu {
    width: 200px;
    padding-bottom: 15px;
  }

  .content-container {
    width: auto;
  }

  .content-right {
    width: auto;
  }

  /* Content goods */
  .content-goods {
    width: $width-content-goods-adaptive-550px;
  }

  .slider-wrapper,
  .slide img {
    height: $height-slider-adaptive-550px;
  }

  /* Footer */
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }

  .footer-content-email,
  .footer-menu {
    margin-bottom: 20px;
  }

  .footer-content-email p {
    text-align: center;
  }

  .footer-menu ul > li {
    padding-bottom: 5px;
  }

  .content-separate-line {
    width: 400px;
  }

  .content-bottom-text p {
    width: 380px;
  }
}

@media screen and (max-width: 500px) {
  /* Slider */
  .slider-wrapper,
  .slide img {
    height: $height-slider-adaptive-500px;
  }

  .content-bottom-text p {
    width: 280px;
  }
}

@media screen and (max-width: 420px) {
  /* Slider */
  .slider-wrapper,
  .slide img {
    height: $height-slider-adaptive-420px;
  }

  .content-separate-line {
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  /* Slider */
  .slider-wrapper,
  .slide img {
    height: $height-slider-adaptive-320px;
  }

  .content-separate-line {
    width: 250px;
  }

  .content-bottom-text p {
    width: 200px;
  }
}
