@media screen and (max-width: 1000px) {
  // Header content

  .header-content {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .container-menu {
    position: relative;
    left: -19%;
    margin-left: 0;
    align-self: center;
  }

  .contacts {
    width: auto;
  }

  .content-bottom-text {
    margin: 2% $zero-value;
    display: flex;
    justify-content: space-between;
  }

  .content-bottom-text p {
    margin-left: $margin-content-bottom-text;
    margin-right: $margin-content-bottom-text;
    width: $width-bottom-text;
  }

  .content-separate-line {
    width: $width-content-line;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $width-content-right;
  }

  .content-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: $width-content-left-adaptive;
  }

  .slider-content {
    height: $height-slider-adaptive;
    width: auto;
  }

  .slider-item img {
    width: $width-hundred;
    height: $height-slider-adaptive;
    object-fit: contain;
  }

  .menu-items ul {
    width: auto;
  }

  .main-content {
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-left-content {
    margin-top: 4%;
  }

  .category-menu {
    width: 300px;
  }
}

@media (max-width: 830px) {
  .content-left {
    justify-content: center;
    width: $width-content-left-adaptive-830px;
  }

  .slider-button {
    display: none;
  }

  .container-menu {
    left: -15%;
  }

  .menu-nav {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-items {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-items li {
    border: none;
    width: $width-hundred;
  }

  .menu-items a {
    padding: $padding-def-value;
    width: $width-hundred;
    text-align: left;
  }

  .content-goods {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: $width-content-goods-adaptive-830px;
  }

  .slider-content,
  .slider-item img {
    height: $height-slider-adaptive-830px;
  }

  .content-container {
    padding: $zero-value;
  }
}

@media screen and (max-width: 650px) {
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-left {
    width: auto;
  }

  .content-goods {
    width: $width-content-goods-adaptive-650px;
  }

  .slider-content,
  .slider-item img {
    height: $height-slider-adaptive-650px;
  }

  .container {
    padding: $zero-value;
  }

  .content-container {
    $width: 550px;
  }

  .container-menu {
    left: -17%;
  }
}

@media screen and (max-width: 550px) {
  .container-menu {
    margin-top: $margin-def-value;
    position: initial;
  }

  .main-content {
    width: auto;
  }

  .content-left {
    flex-direction: column;
    align-items: center;
  }

  .category-menu-price-list {
    display: none;
  }

  .category-menu {
    width: 200px;
    padding-bottom: 15px;
  }

  .content-container {
    width: auto;
  }

  .content-right {
    width: auto;
  }

  .content-goods {
    width: $width-content-goods-adaptive-550px;
  }

  .slider-content,
  .slider-item img {
    height: $height-slider-adaptive-550px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }

  .footer-content-email,
  .footer-menu {
    margin-bottom: 20px;
  }

  .footer-content-email p {
    text-align: center;
  }

  .footer-menu ul > li {
    padding-bottom: 5px;
  }

  .container-menu {
    margin-top: 10px;
    position: initial;
  }
}

@media screen and (max-width: 500px) {
  .slider-content,
  .slider-item img {
    height: $height-slider-adaptive-500px;
  }
}

@media screen and (max-width: 420px) {
  .slider-content,
  .slider-item img {
    height: $height-slider-adaptive-420px;
  }
}

@media screen and (max-width: 320px) {
  .slider-content,
  .slider-item img {
    height: $height-slider-adaptive-320px;
  }
}