body {
  font-family: 'PT Sans', sans-serif;
  margin: $zero-value-px;
  padding: $zero-value-px;
  box-sizing: border-box;
}

header {
  background-color: $light-gray-color;
  display: flex;
  justify-content: center;
  padding: $padding-header;
}

.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: $width-max;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  font-size: $base-font-size;
  font-weight: bold;
  line-height: $height-line;
  color: $gray-color;
  line-height: normal;
  white-space: pre-line;
}

.logo img {
  margin-right: $margin-def-value;
  width: $width-logo;
  height: $height-logo;
}

.logo small {
  display: block;
  font-size: $base-font-size;
  color: $gray-color;
}

.about-company {
  text-align: left;
  padding-left: $padding-def-value;
  padding-top: $padding-def-value;
}

.contacts {
  text-align: right;
  position: relative;
  top: -20px;
}

.contacts p {
  margin: $zero-value-px;
  font-size: $contact-font-size;
  line-height: $height-line;
  color: $gray-color;
}

.feedback-link {
  font-size: $base-font-size;
  line-height: $height-line;
  text-decoration: underline;
  color: $gray-color;
}
