@import 'variables';

body {
  font-family: 'PT Sans', sans-serif;
  margin: $zero-value;
  padding: $zero-value;
  box-sizing: border-box;
}

header {
  width: 100%;
  background: #dcdcdc;
  border-bottom: 1px solid #ccc;
}

.header-content {
  max-width: $max-width-header;
  margin: $zero-value auto;
  padding: $padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  font-size: $base-font-size;
  font-weight: bold;
  line-height: $line-height;
  color: $gray-color;
  line-height: normal;
  white-space: pre-line;
}

.logo img {
  margin-right: $margin-right;
  width: $logo-width;
  height: $logo-height;
}

.logo small {
  display: block;
  font-size: $base-font-size;
  color: $gray-color;
}

.about-company {
  text-align: left;
  padding-left: $padding-left;
  padding-top: $padding-top;
}

.contacts {
  text-align: right;
}

.contacts p {
  margin: $zero-value;
  font-size: $contact-font-size;
  line-height: $line-height;
  color: $gray-color;
}

.feedback-link {
  font-size: $base-font-size;
  line-height: $line-height;
  text-decoration: underline;
  color: $gray-color;
}

@media (max-width: 1000px) {
  .header-content {
    padding: $padding;
  }
}