* {
  margin: $zero-value-px;
  padding: $zero-value-px;
  line-height: $height-line;
  font-family: "PT Sans", sans-serif;
  font-size: $base-font-size;
}

body,
html {
  height: $height-hundred;
}

.layout-wrapper {
  min-height: $width-hundred;
  display: flex;
  flex-direction: column;
}

.main-document {
  flex-grow: $flex-grow-main-document;
}