* {
  margin: $zero-value-px;
  padding: $zero-value-px;
  line-height: $height-line;
  font-family: "PT Sans", sans-serif;
  font-size: $base-font-size;
}

body,
html {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}