.slider-wrapper {
  position: relative;
  margin: $zero-value-px;
  padding: $zero-value-px;
  height: $height-slider;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform $slider-transition ease-in-out;
}

.slide {
  width: $width-hundred;
  height: $height-slider;
  background-size: cover;
  background-position: center;
}

.slide.active {
  opacity: $opacity-slide;
  position: relative;
}

.slide img {
  width: $width-hundred;
  height: $height-hundred;
  object-fit: contain;
}

.slider-buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: $slider-btn-top;
  left: $left-fourth-part;
  right: $right-fourth-part;
}

.slider-button-prev,
.slider-button-next {
  background: transparent;
  color: rgb($zero-value, $zero-value, $zero-value);
  background-color: $slider-btn-color;
  font-size: $slider-btn-font-size;
  height: $height-half;
  width: $width-btn-slider;
  padding-bottom: $padding-def-value;
  border-radius: $border-slider-radius;
  border: none;
  cursor: pointer;
}